PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5433
DB_USER=grocery_user
DB_PASSWORD=grocery_pass
DB_NAME=grocery_db

JWT_ACCESS_SECRET=dev-access-secret-change-in-production
JWT_REFRESH_SECRET=dev-refresh-secret-change-in-production
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
